@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h4>@ViewData["Title"]</h4>
<section>
    <form id="account" method="post">
        <hr/>
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="field-row-stacked">
            <label asp-for="Input.Username" class="form-label">Name</label>
            <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Cookiezi"/>
            <span asp-validation-for="Input.Username" class="text-danger"></span>
        </div>
        <div class="field-row-stacked">
            <label asp-for="Input.Password" class="form-label">Password</label>
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password"/>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>

        <input type="checkbox" asp-for="Input.RememberMe"/>
        <label asp-for="Input.RememberMe">
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
        <div>
            <button id="login-submit" type="submit">Log in</button>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}