map $host $backend_host {
    c.${DOMAIN} c.ppy.sh;
    ce.${DOMAIN} ce.ppy.sh;
    c4.${DOMAIN} c4.ppy.sh;
    osu.${DOMAIN} osu.ppy.sh;
    b.${DOMAIN} b.ppy.sh;
}

server {
    listen 80;
	listen 443 ssl;
	server_name c.${DOMAIN} ce.${DOMAIN} c4.${DOMAIN} osu.${DOMAIN} b.${DOMAIN};
	client_max_body_size 20M;

	ssl_certificate     ${SSL_CERT_PATH};
	ssl_certificate_key ${SSL_KEY_PATH};
	ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:@SECLEVEL=1";

	location / {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host $backend_host;
		add_header Access-Control-Allow-Origin *;
		proxy_redirect off;
		proxy_pass http://camel.bancho:8080;
	}
}

server {
    listen 80;
	listen 443 ssl;
	server_name camel.${DOMAIN};
	client_max_body_size 20M;

	ssl_certificate     ${SSL_CERT_PATH};
	ssl_certificate_key ${SSL_KEY_PATH};
	ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:@SECLEVEL=1";

	location / {
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Real-IP  $remote_addr;
		proxy_set_header Host $backend_host;
		add_header Access-Control-Allow-Origin *;
		proxy_redirect off;
		proxy_pass http://camel.web:8080;
	}
}

server {
  listen 80;
  listen 443 ssl;
  server_name a.${DOMAIN};

  ssl_certificate     ${SSL_CERT_PATH};
  ssl_certificate_key ${SSL_KEY_PATH};
  ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:@SECLEVEL=1";

  location / {
    root ${DATA_PATH}/a;
    try_files $uri $uri.png $uri.jpg $uri.gif $uri.jpeg $uri.jfif /default.jpg = 404;
  }
}