@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h4 class="text-danger">Error</h4>
An error occurred while processing your request.

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}