@page
@model IndexModel
@{
    ViewData["Title"] = "Camel";
}

<div style="width: 800px">
    <img src="img/egor.jpg" alt="egor" width="80">
    <div role="tooltip" style="width: 250px; margin-bottom: 12px;">Literally the best server ever. -Egor</div>

    <h3>Welcome to camel</h3>
    <p>Camel is a brand new private server for the game osu!</p>
    <ul>
        <li><strong>Innovative Apps:</strong> Modern apps offer cutting-edge technology and features that enhance productivity, communication, and entertainment. They provide intuitive interfaces, personalized experiences, and continuous updates, making our digital interactions smooth and enjoyable.</li>
        <li><strong>Inspiring Egors:</strong> Egor brings a unique blend of creativity and support to our lives. Whether it's through insightful conversations, shared adventures, or simply being there in times of need, Egor's presence adds a layer of richness and positivity to our everyday experiences.</li>
        <li><strong>Amazing Aeongs:</strong> Aeong contributes a sense of joy and camaraderie with their vibrant personality and unwavering friendship. Their ability to make us laugh, provide comfort, and share in both the highs and lows of life ensures that every moment spent with Aeong is memorable and cherished.</li>
    </ul>
    
</div>