@page
@model Camel.Web.Pages.Tutorial

@{
}

<h4>Connecting to server</h4>

<p>To connect from the <b>latest</b> client, you can use the <b>-devserver allein.xyz</b> parameter.</p>
<img src="img/param.png" alt="Launch parameter">
<p>For older clients, you can use the <a href="https://github.com/denonia/camel/tree/master/src/Camel.Patcher">patcher</a> (i'll make a tutorial about it later)</p>
