<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Camel</title>
    <link rel="stylesheet" href="~/css/7.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<div class="window title-color glass active" style="margin: 32px; width: fit-content">
    <div class="title-bar">
        <div class="title-bar-text">
            Camel version beta 1.0
        </div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize" disabled></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <ul role="menubar" class="can-hover">
            <li role="menuitem" tabindex="0" aria-haspopup="true">
                File
                <ul role="menu">
                    <li role="menuitem" class="has-divider">
                        <a asp-area="" asp-page="/Index">
                            Home
                        </a>
                    </li>
                    <partial name="_LoginPartial"/>
                </ul>
            </li>
            <li role="menuitem" tabindex="0" aria-haspopup="true">
                Leaderboards
                <ul role="menu">
                    <li role="menuitem">
                        <a asp-page="/leaderboards/index" asp-route-mode="0">osu!standard</a>
                    </li>
                    <li role="menuitem">
                        <a asp-page="/leaderboards/index" asp-route-mode="1">osu!taiko</a>
                    </li>
                    <li role="menuitem">
                        <a asp-page="/leaderboards/index" asp-route-mode="2">osu!catch</a>
                    </li>
                    <li role="menuitem">
                        <a asp-page="/leaderboards/index" asp-route-mode="3">osu!mania</a>
                    </li>
                </ul>
            </li>
            <li role="menuitem" tabindex="0" aria-haspopup="true">
                Help
                <ul role="menu">
                    <li role="menuitem">
                        <a asp-area="" asp-page="/tutorial">Connecting to server</a>
                    </li>
                    <li role="menuitem">
                        <a asp-area="" asp-page="/about">About</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div style="margin: 0 12px 12px">
            @RenderBody()
        </div>
    </div>
    <div class="status-bar">
        <p class="status-bar-field">&copy; 2007 Camel Industries. No rights reserved</p>
    </div>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>