@using Camel.Core.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li role="menuitem">
        @* <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">hello @User.Identity?.Name!</a> *@
        <a>Hello @User.Identity?.Name!</a>
    </li>
    <li role="menuitem">
        <a asp-area="Identity" asp-page="/Account/Logout" title="Logout">Logout</a>
    </li>
}
else
{
    <li role="menuitem">
        <a asp-area="Identity" asp-page="/Account/Login">
            Log in
        </a>
    </li>
    <li role="menuitem">
        <a asp-area="Identity" asp-page="/Account/Register">
            Register
        </a>
    </li>
}